# 获取起始点所在地

### 项目初始化及相关数据导入

In [1]:
import numpy as np
import pandas as pd
import datetime as dt

# 计算订单距离
from geopy.distance import distance

# 获取文件现在的路径，用于文件储存
import os
os.getcwd()

'C:\\Users\\willl\\OneDrive - WillfortheFuture\\My Documents\\Study\\Python\\Udacity\\DA Advanced\\P5-Tableau'

In [2]:
import geopy.geocoders
# from geopy.geocoders import Nominatim
from geopy.geocoders import Baidu
geopy.geocoders.options.default_user_agent = 'mobike'
geopy.geocoders.options.default_timeout = 60000
# geolocator = Nominatim()
geolocator = Baidu(api_key='####################') # fake
print(geolocator.headers)
print(geolocator.timeout)

{'User-Agent': 'mobike'}
60000

In [3]:
# from geopy.extra.rate_limiter import RateLimiter
# reverse = RateLimiter(geolocator.reverse, min_delay_seconds=0.01)

In [4]:
order_location = pd.read_csv('py_order_location_unfinished.csv')

In [5]:
# test
order_location.head(4)

   orderid  first_x  first_y   last_x  last_y
0    78387  121.347   31.392  121.357  31.389
1   891333  121.489   31.270  121.508  31.279
2  1106623  121.381   31.251  121.407  31.249
3  1389484  121.471   31.325  121.484  31.320

In [6]:
order_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102361 entries, 0 to 102360
Data columns (total 5 columns):
orderid    102361 non-null int64
first_x    102361 non-null float64
first_y    102361 non-null float64
last_x     102361 non-null float64
last_y     102361 non-null float64
dtypes: float64(4), int64(1)
memory usage: 3.9 MB

### 子数据集地理逆编码

#### 单条坐标测试

In [10]:
# geolocator = Baidu(api_key='uL9g0LGEf5wWeRu32FvlLZVuachPlNuV')

In [11]:
# https://stackoverflow.com/questions/35595012/trouble-converting-to-utf-8
a = geolocator.reverse((31.392, 121.347)).address.decode('utf-8')
print(a)

上海市宝山区美安路

#### 小数据集测试

In [12]:
order_location0 = order_location.head(3)
order_location0 = order_location0.copy()
order_location0['start_loc'] = order_location0.apply(lambda x: geolocator.reverse(query=(x[2], x[1])).address.decode('utf-8'), axis = 1)

In [13]:
order_location0

   orderid  first_x  first_y   last_x  last_y        start_loc
0    78387  121.347   31.392  121.357  31.389        上海市宝山区美安路
1   891333  121.489   31.270  121.508  31.279  上海市虹口区四川北路2075号
2  1106623  121.381   31.251  121.407  31.249        上海市嘉定区吉镇路

#### 子数据集1

In [16]:
order_location_s1 = order_location.iloc[0:10000, :]
order_location_s1 = order_location_s1.copy()
order_location_s1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
orderid    10000 non-null int64
first_x    10000 non-null float64
first_y    10000 non-null float64
last_x     10000 non-null float64
last_y     10000 non-null float64
dtypes: float64(4), int64(1)
memory usage: 390.7 KB

In [17]:
order_location_s1['start_loc'] = order_location_s1.apply(lambda x: geolocator.reverse(query=(x[2], x[1])).address.decode('utf-8'), axis = 1)

In [18]:
order_location_s1.to_csv('py_order_location_s1.csv', na_rep='Null', header=True, index=False)

In [19]:
order_location_s1['end_loc'] = order_location_s1.apply(lambda x: geolocator.reverse(query=(x[4], x[3])).address.decode('utf-8'), axis = 1)

In [20]:
order_location_s1.to_csv('py_order_location_s1.csv', na_rep='Null', header=True, index=False)

In [21]:
order_location_s1.head()

,orderid,first_x,first_y,last_x,last_y,start_loc,end_loc
0,78387,121.347,31.392,121.357,31.389,上海市宝山区美安路,上海市宝山区金中路
1,891333,121.489,31.270,121.508,31.279,上海市虹口区四川北路2075号,上海市虹口区阜新路180弄1号西
2,1106623,121.381,31.251,121.407,31.249,上海市嘉定区吉镇路,上海市普陀区杨柳青路
3,1389484,121.471,31.325,121.484,31.320,上海市闸北区阳泉路693号,上海市虹口区安汾路588号
4,188537,121.407,31.291,121.418,31.288,上海市普陀区汶水路,上海市宝山区真华路1376号

#### 子数据集2

In [23]:
order_location_s2 = order_location.iloc[10000:20000, :]
order_location_s2 = order_location_s2.copy()
order_location_s2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 10000 to 19999
Data columns (total 5 columns):
orderid    10000 non-null int64
first_x    10000 non-null float64
first_y    10000 non-null float64
last_x     10000 non-null float64
last_y     10000 non-null float64
dtypes: float64(4), int64(1)
memory usage: 390.7 KB

In [24]:
order_location_s2['start_loc'] = order_location_s2.apply(lambda x: geolocator.reverse(query=(x[2], x[1])).address.decode('utf-8'), axis = 1)

In [25]:
order_location_s2.to_csv('py_order_location_s2.csv', na_rep='Null', header=True, index=False)

In [26]:
order_location_s2['end_loc'] = order_location_s2.apply(lambda x: geolocator.reverse(query=(x[4], x[3])).address.decode('utf-8'), axis = 1)

In [27]:
order_location_s2.to_csv('py_order_location_s2.csv', na_rep='Null', header=True, index=False)

#### 子数据集3

In [28]:
order_location_s3 = order_location.iloc[20000:30000, :]
order_location_s3 = order_location_s3.copy()
order_location_s3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 20000 to 29999
Data columns (total 5 columns):
orderid    10000 non-null int64
first_x    10000 non-null float64
first_y    10000 non-null float64
last_x     10000 non-null float64
last_y     10000 non-null float64
dtypes: float64(4), int64(1)
memory usage: 390.7 KB

In [29]:
order_location_s3['start_loc'] =order_location_s3.apply(lambda x: geolocator.reverse(query=(x[2], x[1])).address.decode('utf-8'), axis = 1)

In [30]:
order_location_s3.to_csv('py_order_location_s3.csv', na_rep='Null', header=True, index=False)

In [31]:
order_location_s3['end_loc'] = order_location_s3.apply(lambda x: geolocator.reverse(query=(x[4], x[3])).address.decode('utf-8'), axis = 1)

In [32]:
order_location_s3.to_csv('py_order_location_s3.csv', na_rep='Null', header=True, index=False)

In [33]:
order_location_s3.head()

,orderid,first_x,first_y,last_x,last_y,start_loc,end_loc
20000,167183,121.523,31.300,121.538,31.322,上海市杨浦区国定路36-38,上海市杨浦区中原路145号
20001,1543518,121.366,31.251,121.374,31.254,上海市嘉定区清峪路991号,上海市嘉定区延川路475号
20002,1021003,121.475,31.296,121.484,31.295,上海市虹口区凉城路539弄-20号,上海市虹口区水电路1170号
20003,1793504,121.652,31.273,121.667,31.273,上海市浦东新区陈邵路,上海市浦东新区金海路2712号
20004,198425,121.390,31.205,121.401,31.199,上海市长宁区中环路,上海市长宁区水城南路14号

#### 子数据集4

In [34]:
order_location_s4 = order_location.iloc[30000:40000, :]
order_location_s4 = order_location_s4.copy()
order_location_s4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 30000 to 39999
Data columns (total 5 columns):
orderid    10000 non-null int64
first_x    10000 non-null float64
first_y    10000 non-null float64
last_x     10000 non-null float64
last_y     10000 non-null float64
dtypes: float64(4), int64(1)
memory usage: 390.7 KB

In [35]:
order_location_s4['start_loc'] =order_location_s4.apply(lambda x: geolocator.reverse(query=(x[2], x[1])).address.decode('utf-8'), axis = 1)

In [36]:
order_location_s4.to_csv('py_order_location_s4.csv', na_rep='Null', header=True, index=False)

In [37]:
order_location_s4['end_loc'] = order_location_s4.apply(lambda x: geolocator.reverse(query=(x[4], x[3])).address.decode('utf-8'), axis = 1)

In [38]:
order_location_s4.to_csv('py_order_location_s4.csv', na_rep='Null', header=True, index=False)

#### 子数据集5

In [39]:
order_location_s5 = order_location.iloc[40000:50000, :]
order_location_s5 = order_location_s5.copy()
order_location_s5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 40000 to 49999
Data columns (total 5 columns):
orderid    10000 non-null int64
first_x    10000 non-null float64
first_y    10000 non-null float64
last_x     10000 non-null float64
last_y     10000 non-null float64
dtypes: float64(4), int64(1)
memory usage: 390.7 KB

In [40]:
order_location_s5['start_loc'] =order_location_s5.apply(lambda x: geolocator.reverse(query=(x[2], x[1])).address.decode('utf-8'), axis = 1)

In [41]:
order_location_s5.to_csv('py_order_location_s5.csv', na_rep='Null', header=True, index=False)

In [42]:
order_location_s5['end_loc'] = order_location_s5.apply(lambda x: geolocator.reverse(query=(x[4], x[3])).address.decode('utf-8'), axis = 1)

In [43]:
order_location_s5.to_csv('py_order_location_s5.csv', na_rep='Null', header=True, index=False)

#### 子数据集6

In [44]:
order_location_s6 = order_location.iloc[50000:60000, :]
order_location_s6 = order_location_s6.copy()
order_location_s6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 50000 to 59999
Data columns (total 5 columns):
orderid    10000 non-null int64
first_x    10000 non-null float64
first_y    10000 non-null float64
last_x     10000 non-null float64
last_y     10000 non-null float64
dtypes: float64(4), int64(1)
memory usage: 390.7 KB

In [46]:
order_location_s6['start_loc'] =order_location_s6.apply(lambda x: geolocator.reverse(query=(x[2], x[1])).address.decode('utf-8'), axis = 1)

In [47]:
order_location_s6.to_csv('py_order_location_s6.csv', na_rep='Null', header=True, index=False)

In [48]:
order_location_s6['end_loc'] = order_location_s6.apply(lambda x: geolocator.reverse(query=(x[4], x[3])).address.decode('utf-8'), axis = 1)

In [49]:
order_location_s6.to_csv('py_order_location_s6.csv', na_rep='Null', header=True, index=False)

#### 子数据集7

In [50]:
order_location_s7 = order_location.iloc[60000:70000, :]
order_location_s7 = order_location_s7.copy()
order_location_s7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 60000 to 69999
Data columns (total 5 columns):
orderid    10000 non-null int64
first_x    10000 non-null float64
first_y    10000 non-null float64
last_x     10000 non-null float64
last_y     10000 non-null float64
dtypes: float64(4), int64(1)
memory usage: 390.7 KB

In [51]:
order_location_s7['start_loc'] =order_location_s7.apply(lambda x: geolocator.reverse(query=(x[2], x[1])).address.decode('utf-8'), axis = 1)

In [52]:
order_location_s7.to_csv('py_order_location_s7.csv', na_rep='Null', header=True, index=False)

In [53]:
order_location_s7['end_loc'] = order_location_s7.apply(lambda x: geolocator.reverse(query=(x[4], x[3])).address.decode('utf-8'), axis = 1)

In [54]:
order_location_s7.to_csv('py_order_location_s7.csv', na_rep='Null', header=True, index=False)

In [55]:
order_location_s7.head()

,orderid,first_x,first_y,last_x,last_y,start_loc,end_loc
60000,1549169,121.447,31.296,121.455,31.305,上海市闸北区万荣路1050号,上海市闸北区共和新路3400-1号
60001,848537,121.375,31.271,121.389,31.276,上海市普陀区绥德路,上海市普陀区真南路843号
60002,1860,121.456,31.123,121.457,31.122,上海市徐汇区长华路755号,上海市徐汇区长华路179号-临
60003,968134,121.433,31.263,121.450,31.274,上海市普陀区管弄路70号,上海市闸北区沪太路807弄-1号-东
60004,432712,121.386,31.177,121.396,31.172,上海市闵行区金汇南路60弄-56号-2楼-201室,上海市闵行区新桥路

#### 子数据集8

In [56]:
order_location_s8 = order_location.iloc[70000:80000, :]
order_location_s8 = order_location_s8.copy()
order_location_s8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 70000 to 79999
Data columns (total 5 columns):
orderid    10000 non-null int64
first_x    10000 non-null float64
first_y    10000 non-null float64
last_x     10000 non-null float64
last_y     10000 non-null float64
dtypes: float64(4), int64(1)
memory usage: 390.7 KB

In [58]:
order_location_s8['start_loc'] =order_location_s8.apply(lambda x: geolocator.reverse(query=(x[2], x[1])).address.decode('utf-8'), axis = 1)

In [59]:
order_location_s8.to_csv('py_order_location_s8.csv', na_rep='Null', header=True, index=False)

In [60]:
order_location_s8['end_loc'] = order_location_s8.apply(lambda x: geolocator.reverse(query=(x[4], x[3])).address.decode('utf-8'), axis = 1)

In [61]:
order_location_s8.to_csv('py_order_location_s8.csv', na_rep='Null', header=True, index=False)

#### 子数据集9

In [62]:
order_location_s9 = order_location.iloc[80000:90000, :]
order_location_s9 = order_location_s9.copy()
order_location_s9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 80000 to 89999
Data columns (total 5 columns):
orderid    10000 non-null int64
first_x    10000 non-null float64
first_y    10000 non-null float64
last_x     10000 non-null float64
last_y     10000 non-null float64
dtypes: float64(4), int64(1)
memory usage: 390.7 KB

In [63]:
order_location_s9['start_loc'] =order_location_s9.apply(lambda x: geolocator.reverse(query=(x[2], x[1])).address.decode('utf-8'), axis = 1)

In [64]:
order_location_s9.to_csv('py_order_location_s9.csv', na_rep='Null', header=True, index=False)

In [65]:
order_location_s9['end_loc'] = order_location_s9.apply(lambda x: geolocator.reverse(query=(x[4], x[3])).address.decode('utf-8'), axis = 1)

In [66]:
order_location_s9.to_csv('py_order_location_s9.csv', na_rep='Null', header=True, index=False)

#### 子数据集10

In [67]:
order_location_s10 = order_location.iloc[90000:, :]
order_location_s10 = order_location_s10.copy()
order_location_s10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12361 entries, 90000 to 102360
Data columns (total 5 columns):
orderid    12361 non-null int64
first_x    12361 non-null float64
first_y    12361 non-null float64
last_x     12361 non-null float64
last_y     12361 non-null float64
dtypes: float64(4), int64(1)
memory usage: 482.9 KB

In [69]:
order_location_s10['start_loc'] =order_location_s10.apply(lambda x: geolocator.reverse(query=(x[2], x[1])).address.decode('utf-8'), axis = 1)

In [70]:
order_location_s10.to_csv('py_order_location_s10.csv', na_rep='Null', header=True, index=False)

In [71]:
order_location_s10['end_loc'] = order_location_s10.apply(lambda x: geolocator.reverse(query=(x[4], x[3])).address.decode('utf-8'), axis = 1)

In [72]:
order_location_s10.to_csv('py_order_location_s10.csv', na_rep='Null', header=True, index=False)

## 合并所有子数据集

In [73]:
order_location_s = pd.concat([order_location_s1, order_location_s2, order_location_s3, order_location_s4, order_location_s5,
                             order_location_s6, order_location_s7, order_location_s8, order_location_s9, order_location_s10])

In [74]:
order_location_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102361 entries, 0 to 102360
Data columns (total 7 columns):
orderid      102361 non-null int64
first_x      102361 non-null float64
first_y      102361 non-null float64
last_x       102361 non-null float64
last_y       102361 non-null float64
start_loc    102361 non-null object
end_loc      102361 non-null object
dtypes: float64(4), int64(1), object(2)
memory usage: 5.5+ MB

In [75]:
order_location_s.head()

,orderid,first_x,first_y,last_x,last_y,start_loc,end_loc
0,78387,121.347,31.392,121.357,31.389,上海市宝山区美安路,上海市宝山区金中路
1,891333,121.489,31.270,121.508,31.279,上海市虹口区四川北路2075号,上海市虹口区阜新路180弄1号西
2,1106623,121.381,31.251,121.407,31.249,上海市嘉定区吉镇路,上海市普陀区杨柳青路
3,1389484,121.471,31.325,121.484,31.320,上海市闸北区阳泉路693号,上海市虹口区安汾路588号
4,188537,121.407,31.291,121.418,31.288,上海市普陀区汶水路,上海市宝山区真华路1376号

In [76]:
order_location_s.to_csv('py_order_location_s.csv', na_rep='Null', header=True, index=False)